

*{
  margin: 0;
  padding: 0;
}

.recipe-card-container{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem;
}

.recipe-card {
  min-width: 40%;
  background: white;
  border-radius: 12px;
  padding: 1.5rem;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.recipe-card h2 {
  margin: 0;
  font-size: 1.2rem;
}

.recipe-card img {
  width: 100%;
  height: 12rem;
  object-fit: cover;
}

.recipe-card p {
  margin: 0;
  font-size: 0.9rem;
  color: #444;
  font-weight: 600;
}

.have{
  color: green;
  font-weight: bold;
}

.need{
  color: red;
  font-weight: bold;
}

.tag {
  padding: 4px 10px;
  border-radius: 999px;
  font-size: 0.75rem;
  background-color: green;
  color: white;
  font-weight: 600;
}

.tag-container{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.tag-and-button{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.show-button {
  width: 100%;
  padding: 10px 14px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background: #f7f7f7;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.2s ease;
}

.show-button:hover {
  background: #eee;
}

.show-button:active {
  transform: scale(0.98);
}